<div class="landing">
    <!-- NAV BAR -->
    <app-navbar id="navbar"></app-navbar>
    <!-- LIVE BOOK -->
    <section id="chamada" class="live-book">
        <div class="row">
            <div class="col-12 col-md-4 live-book__left">
                <h1 class="heading-primary live-book__heading">
                    {{ 'FreeInvest' | translate | uppercase }}
                </h1>
                <div class="live-book__text">
                    {{ 'FreeInvestText' | translate }}.
                </div>
                <a id="registro_chamada" [href]="signUpUrl" class="btn__btn  btn__btn--large btn__btn--try">
                    {{ 'Try1' | translate | uppercase }}
                </a>
            </div>
            <div class="col-8 live-book__right">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="live-book__right-crypto">
                            <span>{{ 'CheckOrders' | translate }}:</span>
                            <!-- <div class="live-book__right-crypto--left">
                                Ethereum
                            </div>
                            <div class="live-book__right-crypto--toggler">
                                <mat-slide-toggle [(ngModel)]="btc" [checked]="btc" (change)="!btc"></mat-slide-toggle>
                            </div>
                            <div class="live-book__right-crypto--right">
                                Bitcoin
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="live-book__box">
                            <div class="live-book__eth" [ngClass]="{'live-book__eth--front' : btc === false, 'live-book__eth--back' : btc === true}">
                                <app-l-book></app-l-book>
                            </div>
                            <!-- <div class="live-book__btc" [ngClass]="{'live-book__btc--front' : btc === true, 'live-book__btc--back' : btc === false}">
                                <app-r-book></app-r-book>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="live-book__right__button">
                    <button id="registro_chamada" routerLink="/pre-cadastro/formulario" class="btn__btn btn__btn--large">
                        {{ 'Try1' | translate | uppercase }}
                    </button>
                </div>
            </div>
        </div>
        <!-- WAVE 1 -->
        <img class="live-book__wave" src="./../../assets/img/landing-wave.svg">
    </section>
    <!-- INFOS -->
    <section id="ideia" class="info">
        <!-- TEXTS -->
        <div class="row justify-content-center">
            <div class="col-auto text-center">
                <h4 class="heading-quarternary">
                    {{ 'InvestmentsMustBe' | translate }}
                </h4>
                <h2 class="heading-secondary">
                    {{ 'AccessibleToAll' | translate }}
                </h2>
                <p class="info__text info__text--big">
                    {{ 'AbakateFirstStep' | translate }}.
                </p>
                <p class="info__text info__text--medium">
                    {{ 'OperateWhen' | translate }}
                    <span class="info__text--color"> {{ 'NoTax' | translate }} </span>{{ 'ForThis' | translate }}.
                </p>
            </div>
        </div>
        <!-- BOXES -->
        <div class="row justify-content-center info__infos">
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-deposito.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--1">
                    {{ 'NoDepositTax' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--1">
                    {{ 'DepositStart' | translate }}
                </p>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-resgate.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--2">
                    {{ 'NoRescueTax' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--2">
                    {{ 'RescueWhen' | translate }}
                </p>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-lupa.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--3">
                    {{ 'NoComplications' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--3">
                    {{ 'SimpleOperate' | translate }}
                </p>
            </div>
        </div>
        <!-- BUTTON -->
        <div class="row justify-content-center">
            <div class="col-auto">
                <a id="registro_ideia" class="btn__btn btn__btn--fill btn__btn--iwant" [href]="signUpUrl">{{
                    'IWant' | translate }}!</a>
            </div>
        </div>
    </section>
    <!-- SAFETY -->
    <section id="seguranca" class="safety">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 text-center">
                <img src="../../assets/img/landing_lock.svg" alt="Cadeado" class="safety__img">
                <h4 class="heading-quarternary">
                    {{ 'YourInvest' | translate }}
                </h4>
                <h2 class="heading-secondary">
                    {{ 'safer' | translate }}!
                </h2>
                <p class="safety__text">
                    {{ 'SecurityText' | translate }}.
                </p>
                <button id="guia_seguranca" routerLink="/guia/category/seguranca" class="btn__btn btn__btn--outline">
                    {{ 'KnowMore' | translate }}
                </button>
            </div>
        </div>
        <!-- CURVE -->
        <img class="safety__curve" src="./../../assets/img/landing-curve.svg">
        <!-- WAVE 2 -->
        <img class="safety__wave" src="./../../assets/img/landing-wave-2.svg">
    </section>
    <!-- DOUBTS -->
    <section id="duvidas" class="doubts">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <h3 class="heading-tertiary">
                    {{ 'Doubts' | translate }}
                </h3>
                <ul class="doubts__list">
                    <li class="doubts__list-item">
                        <a href="/guia/sobre-a-abakate/quem-e-a-abakate/" class="doubts__list-link">
                            {{ 'AboutAba' | translate }} &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="/guia/seguranca/a-plataforma-da-abakate-e-segura/" class="doubts__list-link">
                            {{ 'AbaAll' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="/guia/conta-e-assinatura/como-faco-para-pagar-a-assinatura/" class="doubts__list-link">
                            {{ 'HowPayAba' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="/guia/depositos-e-saques/onde-encontro-os-dados-bancarios-para-deposito-na-abakate/"
                            class="doubts__list-link">
                            {{ 'BankDataAba' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="/guia/compra-e-venda-de-criptomoedas/como-crio-uma-ordem-de-compra-de-criptomoedas-na-abakate/"
                            class="doubts__list-link">
                            {{ 'CreateCryptoOrderAba' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="/guia/ferramentas-da-abakate/como-funciona-o-book-de-ofertas/" class="doubts__list-link">
                            {{ 'HowBookAba' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="/guia/ferramentas-da-abakate/onde-vejo-o-meu-limite-diario-de-saque/" class="doubts__list-link">
                            {{ 'WhereLimitWithdrawAba' | translate }}? &rarr;
                        </a>
                    </li>
                </ul>
                <button routerLink="/guia/" class="btn__btn btn__btn--outline">
                    {{ 'KnowMore' | translate }}
                </button>
            </div>
            <div class="col-12 col-md-4">
                <div id="doubts" class="doubts__box text-center">
                    <h4 class="heading-quarternary doubts__heading">
                        {{ 'KnowAbaGuide' | translate }}
                    </h4>
                    <p class="doubts__text">
                        {{ 'GuideText' | translate }}.
                    </p>
                    <a routerLink="/guia/" class="btn__btn btn__btn--white">
                        {{ 'goGuide' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <app-l-footer></app-l-footer>
    <div class="scroll-to-top">
        <a [ngx-scroll-to]="'navbar'">&uArr;</a>
    </div>
</div>
