<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <div class="sign-up__step sign-up__step-margin">
            <span>01.</span> {{ 'PersonalData' | translate }}
        </div>
        <div class="sign-up__bar--fill">
            <div *ngFor="let fill of fills"></div>
        </div>
        <div class="sign-up__bar--blank">
            <div *ngFor="let blank of blanks"></div>
        </div>
        <form class="sign-up__form" [formGroup]="step2">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <label class="sign-up__form-label" for="cpf">{{ 'CPF' | translate | uppercase }} ({{ 'OnlyNumbers'
                        | translate }})</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="cpf" id="cpf" placeholder="000.000.000-00"
                            formControlName="cpf" [(ngModel)]="cpf" (keyup.enter)="keytab($event)" (keyup)="validCPF(); formatCPF();"
                            maxlength="14">
                        <span *ngIf="step2.get('cpf').touched && validCPFFlag && step2.get('cpf').status === 'VALID'"
                            class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="(step2.get('cpf').touched && !validCPFFlag) || (step2.get('cpf').touched && step2.get('cpf').status === 'INVALID')"
                            class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step2.get('cpf').touched && !validCPFFlag" class="sign-up__form-invalid">
                        <i>{{ 'invalidCPF' | translate }}</i>
                    </span>
                </div>
                <div class="col-lg-5 col-12">
                    <label class="sign-up__form-label" for="birth">{{ 'DateOfBirth' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <!-- <input class="sign-up__form-input" type="text" name="birth" id="birth" formControlName="birth" [(ngModel)]="birth" autocomplete="off"
                            (keydown)="maksDate($event.target)" placement="bottom" bsDatepicker placeholder="DD/MM/AAAA" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-green'}"> -->
                        <input class="sign-up__form-input" type="date" name="birth" id="birth" formControlName="birth"
                            [(ngModel)]="birth">
                        <span *ngIf="step2.get('birth').touched && step2.get('birth').valid" class="sign-up__form-success mr-3">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step2.get('birth').touched && !step2.get('birth').valid" class="sign-up__form-error mr-3">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step2.get('birth').touched && !step2.get('birth').valid " class="sign-up__form-invalid">
                        <i>{{ 'invalidBirthdate' | translate }}</i>
                    </span>
                </div>
            </div>
        </form>
        <div class="col-12 sign-up__terms">
            <mat-checkbox [(ngModel)]="older" [checked]="older">
                <i>{{ 'older18' | translate }}.</i>
            </mat-checkbox>
        </div>
    </div>
    <div class="col-12 text-center">
        <button class="btn__btn btn__btn--outline btn__btn--outline-disabled" routerLink="/novo-cadastro/passo-1">
            {{ 'Previous' | translate }}
        </button>
        <button id="btn_next02" [disabled]="!validCPFFlag || !step2.get('birth').valid" class="btn__btn btn__btn--outline"
            (click)="validCPF(); createSignUp();">
            {{ 'Next' | translate }}
        </button>
    </div>
</div>
