<div class="cryptotype-component">
    <div class="col-auto crypto-type">
        <div class="cryptotype-icon">
            <img *ngIf="currentCryptoSymbol=='ETH'" src="../../assets/img/icon_Ethereum.svg" alt="">
            <img *ngIf="currentCryptoSymbol=='BTC'" src="../../assets/img/icon_Bitcoin.svg" alt="">
        </div>
        <div class="cryptotype-data">
            <h6>{{ 'last24h' | translate }}</h6>
            <!-- LEFT -->
            <div class="cryptotype-data-box">
                <div class="cryptotype-data-box-content">
                    <div title="{{ volume | number:'1.8-8'}}" class="cryptotype-{{currentCryptoSymbol}}-volume hide-mobile">{{ volume | number:'1.3-3' }}
                        <span>{{ currentCryptoSymbol }}</span>
                    </div>
                    <div class="cryptotype-label">{{ 'Volume' | translate | uppercase }}</div>
                </div>
                <div class="cryptotype-data-box-content">
                    <div *ngIf="variation === 0" class="cryptotype-volume-variation">0 %</div>
                    <div *ngIf="variation > 0" class="cryptotype-volume-variation cryptotype-volume-variation-positive">+{{variation}} %</div>
                    <div *ngIf="variation < 0" class="cryptotype-volume-variation cryptotype-volume-variation-negative">-{{variation}} %</div>
                    <div class="cryptotype-label">{{ 'Variation' | translate | uppercase }}</div>
                </div>
            </div>
            <!-- RIGHT -->
            <div class="cryptotype-price">
                <div class="cryptotype-real">{{ lastPrice | currency:'BRL' }}</div>
                <div class="cryptotype-label cryptotype-label-margin">{{ 'lastTradePrice' | translate }}</div>
            </div>
            <div class="cryptotype-data-box-content visible-mobile hide-desktop">
                <div *ngIf="variation === 0" class="cryptotype-volume-variation">0 %</div>
                <div *ngIf="variation > 0" class="cryptotype-volume-variation cryptotype-volume-variation-positive">+{{variation}} %</div>
                <div *ngIf="variation < 0" class="cryptotype-volume-variation cryptotype-volume-variation-negative">-{{variation}} %</div>
                <div class="cryptotype-label">{{ 'Variation' | translate | uppercase }}</div>
            </div>
        </div>
    </div>
</div>
