@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin background-positive {
    background: -webkit-gradient(linear, left top, right top, from($color-positive-dark), to($color-positive));
    background: linear-gradient(to right, $color-positive-dark, $color-positive);
}

@mixin background-negative {
    background: -webkit-gradient(linear, right top, left top, from($color-negative-dark), to($color-negative));
    background: linear-gradient(to left, $color-negative-dark, $color-negative);
}

/*
    MEDIA QUERY MANAGER
0 - 600 px;         Phone
601px - 900px;      Tablet portrait
901px - 1200px;     Tablet landscape
1201px - 1800px     Normal style
1801px +            Big desktop

    $breakpoint argument
- phone
- tab-port
- tab-land
- big-desk

    1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 600px) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-port {
        @media only screen and (max-width: 900px) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-land {
        @media only screen and (max-width: 1200px) {
            @content
        }
        ;
    }
    @if $breakpoint==medium-desk {
        @media only screen and (min-width: 1440px) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-desk {
        @media only screen and (max-width: 1800px) {
            @content
        }
        ;
    }
    @if $breakpoint==big-desk {
        @media only screen and (min-width: 1801px) {
            @content
        }
        ;
    }
}
