// COLORS
$color-transparent: transparent;
$color-white: #ffffff;
$color-black: #000;
$color-positive: #4dde90;
$color-positive-dark: #1B3D37;
$color-positive-accept: #008000;
$color-negative: #ff4823;
$color-negative-dark: #91314B;
$color-negative-erro: #ff0000;
$color-links: #0cbefd;
$color-cool-grey: #95989a;
$color-grey-dark: #555;
$color-grey-light: #999;
$color-currency-reais: #fff600;
$color-currency-bitcoin: #f7931a;
$color-currency-ethereum: #c99d66;
$color-avocado: #DCF0AB;
$color-background: #263238;
$color-background-2: #171f23;
$color-background-3: #202b30;
$color-background-4: #3b3737;
$color-background-5: #353535;
$color-background-6: #2f3f46;
$color-background-7: rgba(20, 19, 33, 0.3);
$color-background-8: rgba(0, 0, 0, 0.30);
$color-background-9: #b0bec5;
$color-background-10: #101b20;
$color-background-11: #dddddd;
$color-background-12: #3b4c53;
$color-background-13: #1a1a1a;
$color-background-14: #1e282d;
$color-background-15: #f5f5f5;
$color-font: #a1a1a1;
$color-font-2: #aaaaaa;
$color-font-3: rgb(186, 240, 63);
$color-font-4: #333;
$color-font-5: #00152e;
$color-font-6: #f6f6ea;
$color-font-7: #dcecff;
$color-font-8: #808080;
$color-font-9: #2C3E50;
$color-font-10: #666;
$color-font-11: #7fb9ff;
$color-font-12: #80d080;
$color-font-13: #3399ff;
$color-font-14: #18c1fd;
$color-font-15: #979797;
$color-border: rgba(255, 255, 255, .12);
$color-border-2: rgba(0, 0, 0, 0.5);
$color-border-3: rgba(0, 0, 0, 0.8);
$color-border-4: #016083;
$color-border-5: #ccc;
$color-border-6: rgba(0, 0, 0, 0.4);
$color-border-7: #C5C5F1;
$color-border-8: #415761;
$color-border-9: #555555;
$color-border-10: rgba(255, 255, 255, .7);
// FONT
$default-font-size: 1.6rem;
