<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <div class="sign-up__step sign-up__step-margin">
            <span>04.</span> {{ 'MoreInfo' | translate }}
        </div>
        <div class="sign-up__bar--fill">
            <div *ngFor="let fill of fills"></div>
        </div>
        <div class="sign-up__bar--blank">
            <div *ngFor="let blank of blanks"></div>
        </div>
        <form class="sign-up__form" [formGroup]="step7">
            <div class="row">
                <div class="col-xl-10 col-12">
                    <label class="sign-up__form-label" for="mother">{{ 'mothersName' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="mother" id="mother" placeholder="{{ 'Name' | translate }}" formControlName="mother"
                            [(ngModel)]="mother" (keyup.enter)="keytab($event)">
                        <span *ngIf="step7.get('mother').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="!step7.get('mother').valid && step7.get('mother').touched" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="!step7.get('mother').valid && step7.get('mother').touched" class="sign-up__form-invalid">
                        <i>{{ 'invalidName' | translate }}</i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-10 col-12 text-center">
        <button class="btn__btn btn__btn--outline btn__btn--outline-disabled" routerLink="/novo-cadastro/passo-6">
            {{ 'Previous' | translate }}
        </button>
        <button id="btn_next07" id="next" [disabled]="!step7.get('mother').valid" class="btn__btn btn__btn--outline" routerLink="/novo-cadastro/passo-8"
            (click)="createSignUp()">
            {{ 'Next' | translate }}
        </button>
    </div>
</div>
