<div class="sign-up">
    <div class="row no-gutters">
        <div class="col-5 sign-up__left">
            <div class="sign-up__logo">
                <img routerLink="/" src="../../assets/img/abakate-logo.svg" alt="Abakate Logo" class="sign-up__logo-img">
            </div>
            <div class="sign-up__left-text">
                <div class="sign-up__left-text--big sign-up__left-text--success">
                    {{ 'ValidateYourVoucher' | translate }}
                </div>
            </div>
            <div class="sign-up__left-img">
                <img src="../../../assets/img/pre-sign-up-star.png" alt="Pre-cadastro Ok">
            </div>
        </div>
        <div class="col-7 sign-up__right">
            <div class="sign-up__question">
                {{ 'NewHere' | translate }}? {{ 'DoYour' | translate }}
                <span id="precadastro/iniciar" routerLink="/pre-cadastro/formulario">{{ 'preSignUp' | translate }}</span>
            </div>
            <div class="sign-up__box">
                <div class="row no-gutters justify-content-center">
                    <div class="col-8 pt-5">
                        <h4 class="heading-quarternary sign-up__title mt-5">
                            {{ 'YouVIP' |translate }}...
                        </h4>
                        <div class="sign-up__text">
                            {{ 'VIPEmail' | translate }}.
                        </div>
                        <form class="sign-up__form" [formGroup]="form">
                            <div class="row">
                                <div class="col-10">
                                    <label class="sign-up__form-label" for="voucher">{{ 'Voucher' | translate | uppercase }}</label>
                                    <input class="sign-up__form-input" type="text" name="voucher" id="voucher" placeholder="123456788" formControlName="voucher"
                                        [(ngModel)]="voucher">
                                    <span *ngIf="form.get('voucher').valid" class="sign-up__form-success mt-4">
                                        <img src="../../../assets/img/icon_Check.svg" alt="Check">
                                    </span>
                                    <span *ngIf="!form.get('voucher').valid && form.get('voucher').touched" class="sign-up__form-error mt-4">
                                        <img src="../../../assets/img/icon_error.svg" alt="Error">
                                    </span>
                                    <span *ngIf="!form.get('voucher').valid && form.get('voucher').touched" class="sign-up__form-invalid">
                                        <i>{{ 'InvalidVoucher' | translate }}. {{ 'TryAgain' | translate }}</i>
                                    </span>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-8">
                        <button id="convidado_validacao" [disabled]="!form.get('voucher').valid" class="btn__btn btn__btn--outline" (click)="validateVoucher()">
                            {{ 'ValidateMyVoucher' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
