<div class="sign-up">
    <div class="row no-gutters">
        <div class="col-5 sign-up__left">
            <div class="sign-up__logo">
                <img routerLink="/" src="../../assets/img/abakate-logo.svg" alt="Abakate Logo" class="sign-up__logo-img">
            </div>
            <div class="sign-up__left-text">
                <div class="sign-up__left-text--big sign-up__left-text--success">
                    {{ 'InList' | translate }}!
                </div>
            </div>
            <div class="sign-up__left-img">
                <img src="../../../assets/img/pre-sign-up-check.png" alt="Pre-cadastro Ok">
            </div>
        </div>
        <div class="col-7 sign-up__right">
            <div class="sign-up__question">
                {{ 'NewHere' | translate }}? {{ 'DoYour' | translate }}
                <span id="precadastro/iniciar" routerLink="/pre-cadastro/formulario">{{ 'preSignUp' | translate }}</span>
            </div>
            <div class="sign-up__box">
                <div class="row no-gutters justify-content-center">
                    <div class="col-8 pt-5">
                        <h4 class="heading-quarternary sign-up__title mt-5">
                            {{ 'AlreadyPre' |translate }}?
                            <br> {{ 'AccessExchange' |translate }}
                        </h4>
                        <div class="sign-up__text">
                            {{ 'WhileWait' |translate }}
                        </div>
                        <form class="sign-up__form" [formGroup]="login">
                            <div class="row">
                                <div class="col-10 mb-4">
                                    <label class="sign-up__form-label" for="email">{{ 'Email' | translate | uppercase }}</label>
                                    <div class="sign-up__form-relative">
                                        <input class="sign-up__form-input" type="email" name="email" id="email" placeholder="{{ 'Email' | translate }}" formControlName="email"
                                            [(ngModel)]="email">
                                        <span *ngIf="login.get('email').valid" class="sign-up__form-success">
                                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                                        </span>
                                        <span *ngIf="!login.get('email').valid && login.get('email').touched" class="sign-up__form-error">
                                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                                        </span>
                                    </div>
                                    <span *ngIf="!login.get('email').valid && login.get('email').touched" class="sign-up__form-invalid">
                                        <i>{{ 'invalidEmail' | translate }}</i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-8">
                        <button id="precadastro_verexchange" [disabled]="!login.get('email').valid" class="btn__btn btn__btn--fill" (click)="verifyData()">
                            {{ 'SeeExchange' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
