// LANDING
.landing {
    &__navbar {
        padding: 2.2rem 2rem 2rem 2rem;
        font-size: 1rem;
        overflow-y: unset !important;
        
        @include respond(phone) {
            padding-top: 1.2rem;
            flex-direction: row-reverse;
        }
        & * {
            font-family: $font-landing-1;
        }
        &-list>* {
            -ms-flex-item-align: center;
            align-self: center;
        }
        &-link {
            text-decoration: unset;
            color: $color-background-3;
            margin-right: 2.1rem;
            &:hover {
                text-decoration: unset;
                color: $color-positive;
                -webkit-transition: all .2s;
                transition: all .2s;
            }
        }
        &-btn--fill,
        &-btn--outline {
            margin-right: 1rem;
        }
        &-btn--outline {
            padding: 0.3rem 1rem;
        }
        &-forgot-password {
            float: right;
            position: absolute;
            top: 7rem;
            font-size: .8rem;
            right: 22.5rem;
        }
        &-mobile{
            display: none;

            @include respond(phone) {
                display: inline;
                height: 100vh;
                width: 80vw;
                background-color: $color-background-3;
                box-shadow: .4rem 0 .7rem .06rem $color-background-7;
                position: fixed;
                z-index: 1;
                top: 0;
                padding: 1.5rem;

                &-hiddem{
                    left: 0;
                    transition: 1s;  
                }
                &-visible{
                    left: -100%;
                    transition: 1s;
                }
                &-close{
                    position: absolute;
                    top: 1.3rem;
                    right: 1rem;
                    background-color: $color-transparent;
                    border: none;
                    
                    img{
                        width: 3rem;
                        height: 3rem;
                    }
                }
                &-container{
                    height: 90vh;
                }
                &__list {
                    margin-bottom: 1.5rem;
                    font-family: $font-landing-2 !important;
                    font-size: 2rem;
                    color: $color-positive;
                    list-style: none;
                    font-weight: 500;

                    &-item {
                        line-height: 1.4;
                        font-family: $font-landing-1;
                        margin: 0;
                        
                        a{
                            color: $color-white;
                            font-family: $font-landing-1;
                            font-size: 1.4rem;
                            font-weight: 300;

                            &:hover{
                                color: $color-positive;
                                text-decoration: none; 
                            }
                        }
                    }
                }
            }
        }
    }
    &__logo {
        max-width: 12rem;
        height: auto;
        margin-left: 1.3rem;
        cursor: pointer;

        @include respond(phone) {
            margin-right: 0!important;
        }
        &:focus {
            outline: unset;
        }
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
