<div class="home-compenent">
    <div class="container-fluid home-compenent-fluid">
        <!-- HEADER -->
        <app-header (changeToggle)="toggleSidebar()" [sidebarMode]="sidebarMode" (menuChange)="onMenuMobileEvent($event)"></app-header>
        <!-- BODY -->
        <div class="row body-row">
            <!-- SIDEBAR -->
            <div class="col-lg-{{sidebarMode=='full'?'2':'05'}} col-md-{{sidebarMode=='full'?'2':'1'}} side-menu">
                <div class="row">
                    <div class="col-12">
                        <div class="home__not-logged-box text-center">
                            <h1 class="home__not-logged-title">{{ 'Demo' | translate }}</h1>
                            <h1 class="home__not-logged-title">{{ 'SignUpAbakateAnd' | translate }}!</h1>
                            <button type="submit" class="btn__btn btn__btn--fill" routerLink="/novo-cadastro/passo-1">{{ 'SignUp' | translate }}</button>
                        </div>
                    </div>
                </div>
                <app-footer [sidebarMode]="sidebarMode" class="hide-mobile"></app-footer>
            </div>
            <!-- END SIDEBAR -->
            <div *ngIf="sidebarMode === 'full'; else notFull" class="col-xl col-md-10 col-12 sidebar-mode-outlet tablet-content">
                <router-outlet></router-outlet>
                <div class="hide-tablet hide-desktop">
                    <app-footer [sidebarMode]="sidebarMode"></app-footer>
                </div>
            </div>
            <ng-template #notFull>
                <div class="col sidebar-mode-outlet">
                    <router-outlet></router-outlet>
                </div>
            </ng-template>
            <div class="menu-footer visible-mobile hide-desktop hide-big">
                <button class="button-footer" routerLink="/exchange/trade" routerLinkActive="currentPage">
                    <img src="./assets/img/icon_BuySell.svg"> {{ 'OrderBook' | translate | uppercase }}
                </button>
                <button class="button-footer" routerLink="/exchange/candlechart" routerLinkActive="currentPage">
                    <img src="./assets/img/icon_withdraw.svg"> {{ 'priceChart' | translate | uppercase }}
                </button>
                <button (click)="refresh()" class="button-footer" routerLink="/novo-cadastro/passo-1" routerLinkActive="currentPage" title="{{ 'Home' | translate }}">
                    <img src="./assets/img/icon_Favorite.svg"> {{ 'Register' | translate | uppercase }}
                </button>
                <button class="button-footer" routerLink="/exchange/operations" routerLinkActive="currentPage" title="{{ 'Home' | translate }}">
                    <img src="./assets/img/icon_Transactions.svg"> {{ 'OrdersMade' | translate | uppercase }}
                </button>
                <button class="button-footer" routerLink="/exchange/depthchart" routerLinkActive="currentPage"  title="{{ 'Statements' | translate }}">
                    <img src="./assets/img/icon_AccountBalance.svg"> {{ 'AccountHistory' | translate | uppercase }}
                </button>
            </div>
        </div>
    </div>
</div>
