<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <div class="sign-up__step sign-up__step-margin">
            <span>03.</span> {{ 'AddressData' | translate }}
        </div>
        <div class="sign-up__bar--fill">
            <div *ngFor="let fill of fills"></div>
        </div>
        <div class="sign-up__bar--blank">
            <div *ngFor="let blank of blanks"></div>
        </div>
        <form class="sign-up__form" [formGroup]="step5">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-12">
                    <label class="sign-up__form-label" for="city">{{ 'City' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="city" id="city" formControlName="city" [(ngModel)]="city" placeholder="{{ 'City' | translate }}">
                        <span *ngIf="step5.get('city').touched && step5.get('city').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step5.get('city').touched && !step5.get('city').valid" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step5.get('city').touched && !step5.get('city').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidCity' | translate }}</i>
                    </span>
                </div>
                <div class="col-lg-4 col-12">
                    <label class="sign-up__form-label" for="state">{{ 'State' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <select class="sign-up__form-input" name="state" id="state" formControlName="state" [(ngModel)]="state" placeholder="{{ 'State' | translate }}">
                            <option>AC</option>
                            <option>AL</option>
                            <option>AP</option>
                            <option>AM</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>DF</option>
                            <option>ES</option>
                            <option>GO</option>
                            <option>MA</option>
                            <option>MT</option>
                            <option>MS</option>
                            <option>MG</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PR</option>
                            <option>PE</option>
                            <option>PI</option>
                            <option>RJ</option>
                            <option>RN</option>
                            <option>RS</option>
                            <option>RO</option>
                            <option>RR</option>
                            <option>SC</option>
                            <option>SP</option>
                            <option>SE</option>
                            <option>TO</option>
                        </select>
                        <span *ngIf="step5.get('state').touched && step5.get('state').valid" class="sign-up__form-success mr-2">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step5.get('state').touched && !step5.get('state').valid" class="sign-up__form-error mr-2">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step5.get('state').touched && !step5.get('state').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidState' | translate }}</i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 text-center">
        <button class="btn__btn btn__btn--outline btn__btn--outline-disabled" routerLink="/novo-cadastro/passo-4">
            {{ 'Previous' | translate }}
        </button>
        <button id="btn_next05" [disabled]="!step5.get('city').valid || !step5.get('state').valid" class="btn__btn btn__btn--outline"
            (click)="createSignUp()">
            {{ 'Next' | translate }}
        </button>
    </div>
</div>
