<div class="sign-up">
    <div class="row no-gutters">
        <div class="col-5 sign-up__left">
            <div class="sign-up__logo">
                <img routerLink="/" src="../../assets/img/abakate-logo.svg" alt="Abakate Logo" class="sign-up__logo-img">
            </div>
            <div class="sign-up__left-text">
                <div class="sign-up__left-text--big sign-up__left-text--list">
                    {{ 'PreExists' | translate }}!
                </div>
            </div>
            <div class="sign-up__left-img">
                <img src="../../../assets/img/pre-sign-up-check.png" alt="Pre-cadastro Ok">
            </div>
        </div>
        <div class="col-7 sign-up__right">
            <div class="sign-up__question"></div>
            <div class="sign-up__box">
                <div class="row no-gutters justify-content-center">
                    <div class="col-8 pt-5">
                        <h4 class="heading-quarternary sign-up__title sign-up__pre-title mt-5">
                            {{ 'PreExists' |translate }}!
                        </h4>
                        <div class="sign-up__text sign-up__pre-text">
                            {{ 'TheEmail' | translate }}
                            <strong>email@email.com</strong> {{ 'PreEmail' |translate }}. {{ 'StayTunned' |translate }}.
                        </div>
                        <div class="sign-up__text sign-up__pre-text sign-up__pre-text--medium">
                            {{ 'WhileWait' |translate }}.
                        </div>
                        <button id="precadastro_verexchange" routerLink="/home/trade" class="btn__btn btn__btn--fill sign-up__pre-btn">
                            {{ 'SeeExchange' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
