<nav class="navbar navbar-expand-md ">
    <div class="container-fluid landing__navbar">
        <img src="./../../assets/img/abakate-logo.svg" alt="Menu" class="navbar-brand landing__logo" routerLink="/">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#abakate-nav" aria-controls="abakate-nav"
            aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbarMobile()">
            <img src="./../../assets/img/icon-list.svg" alt="Menu">
        </button>
        <div id="abakate-nav" class="collapse navbar-collapse hide-mobile">
            <ul class="navbar-nav ml-auto landing__navbar-list">
                <li class="nav-item">
                    <a class="landing__navbar-link" routerLink="/como-funciona">{{ 'HowItWorks' | translate }}?</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropdown-toggle btn__btn landing__navbar-dropdown" type="button" data-toggle="dropdown">
                            {{ 'Help' | translate }}
                        </button>
                        <div class="dropdown-menu landing__navbar-dropdown--menu">
                            <a id="guia_geral" class="dropdown-item landing__navbar-dropdown--item" href="/guia">{{
                                'AbakateGuide' | translate }}</a>
                            <a id="guia_seguranca" class="dropdown-item landing__navbar-dropdown--item" href="/guia/seguranca/">{{ 'Safety' | translate }}</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a id="btn_registro" class="btn__btn btn__btn--outline landing__navbar-btn--outline" [href]="signUpUrl">
                        {{ 'SignUp' | translate }}
                    </a>
                    <a id="btn_login" class="btn__btn btn__btn--fill landing__navbar-btn--fill" [href]="signInUrl">
                        {{ 'Login' | translate | uppercase }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="landing__navbar-mobile" [ngClass]="navbarMobile == true ? 'landing__navbar-mobile-visible' : 'landing__navbar-mobile-hiddem'">

            <button class="landing__navbar-mobile-close" (click)="toggleNavbarMobile()">
                <img src="./assets/img/icon_close.svg" />
            </button>
            <div class="landing__navbar-mobile-container">
                <ul class="landing__navbar-mobile__list">
                    {{ 'OperateAba' | translate }}
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" id="footer_login" routerLink="/login/signin" class="landing__navbar-mobile__link">
                            {{ 'Login' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" id="registro_footer" routerLink="/novo-cadastro/passo-1"
                            class="landing__navbar-mobile__link">
                            {{ 'CreateAcc' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/como-funciona/#signup" class="landing__navbar-mobile__link">
                            {{ 'Signature' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="" class="landing__navbar-mobile__link">
                            {{ 'Terms' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="" class="landing__navbar-mobile__link">
                            {{ 'Privacy' | translate }}
                        </a>
                    </li>
                </ul>

                <ul class="landing__navbar-mobile__list">
                    {{ 'AboutAba' | translate }}
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="/sobre" class="landing__navbar-mobile__link">
                            {{ 'WhoWe' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="/vagas" class="landing__navbar-mobile__link">
                            {{ 'Careers' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="#" class="landing__navbar-mobile__link">
                            {{ 'Press' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/#doubts" class="landing__navbar-mobile__link">
                            {{ 'Contact' | translate }} </a>
                    </li>
                </ul>

                <ul class="landing__navbar-mobile__list">
                    {{ 'AbaGuide' | translate }}
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="#" class="landing__navbar-mobile__link">
                            {{ 'AccountAndSign' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="#" class="landing__navbar-mobile__link">
                            {{ 'PasswordAndSecutiry' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="#" class="landing__navbar-mobile__link">
                            {{ 'DepositsAndWithdraw' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="#" class="landing__navbar-mobile__link">
                            {{ 'BuySellCrypto' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="#" class="landing__navbar-mobile__link">
                            {{ 'LimitsAndTime' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
