<div class="sign-up">
    <div class="row no-gutters">
        <div class="col-12 col-md-5 sign-up__left">
            <div class="sign-up__logo">
                <img routerLink="/" src="../../assets/img/abakate-logo.svg" alt="Abakate Logo" class="sign-up__logo-img">
            </div>
            <div class="sign-up__img">
                <img src="../../assets/img/sign-up-eth.svg" alt="Sign-up eth">
            </div>
        </div>
        <div class="col-12 col-md-7 sign-up__right">
            <div class="sign-up__question">
                <div class="sign-up__logo-mobile">
                    <img routerLink="/" src="../../assets/img/abakate-logo.svg" alt="Abakate Logo">
                </div>
                <div>
                    {{ 'AlreadyPreSignUp' | translate }}?
                    <br>
                    <span routerLink="/pre-cadastro/login">{{ 'KnowExchange' | translate }}</span>
                </div>
            </div>
            <div class="sign-up__box">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
