<div class="sign-up">
    <div class="row no-gutters">
        <div class="col-5 sign-up__left">
            <div class="sign-up__logo">
                <img routerLink="/" src="../../assets/img/abakate-logo.svg" alt="Abakate Logo" class="sign-up__logo-img">
            </div>
            <div class="sign-up__left-text">
                <div class="sign-up__left-text--big">
                    {{ 'Ops' | translate }}!
                </div>
                <div class="sign-up__left-text--medium">
                    {{ 'SignUpLimit' | translate }}...
                    <span>{{ 'DoYour' | translate }} {{ 'DoPreSignUp' | translate }}!</span>
                </div>
            </div>
            <div class="sign-up__left-img">
                <img src="../../assets/img/pre-sign-up-horn.png" alt="Pre-cadastro">
            </div>
        </div>
        <div class="col-7 sign-up__right">
            <div class="sign-up__question">
                {{ 'AlreadyPreSignUp' | translate }}?
                <span routerLink="/pre-cadastro/login">{{ 'KnowExchange' | translate }}</span>
            </div>
            <div class="sign-up__box">
                <div class="row no-gutters justify-content-center">
                    <div class="col-8">
                        <h4 class="heading-quarternary sign-up__title mt-0">
                            {{ 'OneStep' |translate }}...
                        </h4>
                        <div class="sign-up__text">
                            {{ 'PreSignUpList' | translate }}.
                        </div>
                        <div class="sign-up__text sign-up__text--small">
                            {{ 'OnlyHereYou' |translate }}.
                        </div>
                        <form class="sign-up__form" [formGroup]="form">
                            <div class="row">
                                <div class="col-xl-10 col-12">
                                    <label class="sign-up__form-label" for="name">{{ 'CompleteName' | translate | uppercase }} ({{ 'asInID' | translate | uppercase }})</label>
                                    <div class="sign-up__form-relative">
                                        <input class="sign-up__form-input" type="text" name="name" id="name" placeholder="{{ 'Name' | translate }}" formControlName="name"
                                            [(ngModel)]="userName" (keyup.enter)="keytab($event)">
                                        <span *ngIf="form.get('name').valid" class="sign-up__form-success">
                                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                                        </span>
                                        <span *ngIf="!form.get('name').valid && form.get('name').touched" class="sign-up__form-error">
                                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                                        </span>
                                    </div>
                                    <span *ngIf="!form.get('name').valid && form.get('name').touched" class="sign-up__form-invalid">
                                        <i>{{ 'invalidName' | translate }}</i>
                                    </span>
                                </div>
                                <div class="col-xl-10 col-12 mb-1">
                                    <label class="sign-up__form-label" for="email">{{ 'Email' | translate | uppercase }}</label>
                                    <div class="sign-up__form-relative">
                                        <input class="sign-up__form-input" type="email" name="email" id="email" placeholder="{{ 'Email' | translate }}" formControlName="email"
                                            [(ngModel)]="email" (keyup.enter)="keytab($event)">
                                        <span *ngIf="form.get('email').valid" class="sign-up__form-success">
                                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                                        </span>
                                        <span *ngIf="!form.get('email').valid && form.get('email').touched" class="sign-up__form-error">
                                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                                        </span>
                                    </div>
                                    <span *ngIf="!form.get('email').valid && form.get('email').touched" class="sign-up__form-invalid">
                                        <i>{{ 'invalidEmail' | translate }}</i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-8">
                        <div class="sign-up__voucher-text">
                            {{ 'GuestVoucher' | translate }}?
                            <span id="precadastro_convidado" routerLink="/pre-cadastro/cupom">{{ 'ClickHere' | translate }}</span>
                        </div>
                        <div class="sign-up__terms">
                            <mat-checkbox [(ngModel)]="acceptTerms" [checked]="acceptTerms">
                                <i>{{ 'IAgree' | translate }}
                                    <span class="sign-up__terms-text" (click)="openTermsDialog()"> {{ 'useTerms' | translate }} </span>{{ 'and' | translate }}
                                    <span class="sign-up__terms-text" (click)="openPrivacyDialog()"> {{ 'privacyPolicy' | translate }}</span>
                                </i>
                            </mat-checkbox>
                        </div>
                        <button id="precadastro_submit" [disabled]="!form.get('name').valid || !form.get('email').valid" class="btn__btn btn__btn--outline"
                            (click)="verifyData()">
                            {{ 'submit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
