.about {
    overflow-x: hidden;
    height: 100%;
    position: relative;
    &__navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        &-left {
            height: 9rem;
            background-color: $color-white;
        }
        &-right {
            background-color: $color-background-15;
        }
    }
    &__left {
        height: calc(100vh - 166px);
        background-color: $color-white;
        padding-top: 12.5rem;
        text-align: right;
        font-family: $font-landing-2;
        &>* {
            margin: 0;
            font-weight: normal;
            padding-right: 6.735rem;
        }
        &-title {
            color: $color-background-3;
            font-size: 5rem;
            text-transform: unset;
            line-height: 0.7;
        }
        &-subtitle {
            color: $color-positive;
            font-size: 6.25rem;
            font-style: italic;
        }
    }
    &__right {
        background-color: $color-background-15;
        font-family: $font-landing-2;
        &>* {
            font-style: italic;
            font-weight: normal;
            font-size: 3.125rem;
        }
        &-title {
            margin-top: 3rem;
            margin-left: 1.25rem;
            color: $color-background-11;
        }
        &-box {
            width: 43.25rem;
            margin-left: -3rem;
            padding: 3.8rem 5.4rem 4.3rem 5.6rem;
            background-color: $color-positive;
            box-shadow: 0 0 0.625rem 0 $color-background-7;
            color: $color-white;
            line-height: 1;
            text-align: center;
        }
        &-subtitle {
            width: 40.25rem;
            padding-right: 1.25rem;
            text-align: right;
            color: $color-background-11;
        }
    }
    @include respond(tab-port) {
        &__left {
            padding-top: 16.5rem;
            text-align: left;
            &>* {
                padding-right: 0;
                padding-left: 2rem;
            }
            &-title {
                font-size: 4rem;
            }
            &-subtitle {
                font-size: 5.25rem;
            }
        }
        &__right {
            &-title {
                margin-top: 6rem;
            }
            &-box {
                margin-left: -2rem;
            }
        }
    }
    @include respond(phone) {
        &__navbar {
            &-right {
                display: none;
            }
        }
        &__left {
            height: 100%;
            text-align: center;
            padding-top: 0;
        }
        &__right {
            background-color: $color-white;
            &-title {
                margin: 1rem 0 2rem 0;
                text-align: center;
            }
            &-box {
                width: 100%;
                margin-left: 0;
            }
            &-subtitle {
                width: 100%;
                text-align: center;
            }
        }
    }
    /* width */
    &::-webkit-scrollbar {
        width: .3rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-background-4;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-positive;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken($color-positive, 20%);
    }
}
