.candlestick {
    height: calc(50vh - 5.8rem);
    margin-top: 1rem;
    max-width: 100%;
    position: relative;
    @include respond(phone) {
        height: 54vh;
    }
    .candlechartdiv {
        max-height: calc(100% - 1.5rem);
        min-height: calc(100% - 1.5rem);
        padding-top: 1.5rem;
        overflow: unset !important;
        @include respond(phone) {
            box-shadow: 0 0 4px 0 $color-border-2;
            padding-top: 4.5rem;
            max-height: 56vh;
        }
    }
    .candlestick-tiker {
        display: none;
        @include respond(phone) {
            display: inline;
            position: absolute;
            top: 0;
            .ticker-component .ticker {
                background-color: $color-background-14;
                display: flex;
                justify-content: center;
            }
        }
    }
    .candlestick-title {
        position: absolute;
        top: 0.3rem;
        left: 5%;
        font-size: .85;
        font-weight: 600;
        @include respond(phone) {
            display: none;
        }
    }
    .candlestick-filter-box::ng-deep.mat-input-underline.mat-form-field-underline,
    .candlestick-filter-box::ng-deep.mat-input-ripple.mat-form-field-ripple {
        background-color: $color-transparent;
    }
    .candlestick-filter-box {
        position: absolute;
        top: -0.6rem;
        right: 6%;
        @include respond(phone) {
            height: 10vh;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            top: unset;
            right: 0;
            position: absolute;
            z-index: 1;
            background: $color-background-14;
            margin-top: .2rem;
        }
    }
    .candlestick-filter {
        display: inline-block;
        @include respond(phone) {
            display: none !important;
        }
    }
    .candlestick-filter-select {
        width: 5.5rem;
        @include respond(phone) {
            display: none !important;
        }
    }
    .candlestick-filter-select-time {
        width: 7rem;
    }
    .mat-form-field {
        @include respond(phone) {
            display: none !important;
        }
    }
    .candlestick-buttons-mobile {
        display: none;
        @include respond(phone) {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            .candlestick-button {
                background-color: $color-white;
                padding: 0rem .4rem;
                color: $color-black;
                border-radius: 3rem;
                opacity: 0.4;
                height: 2rem;
                min-width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
            }
            .candlestick-button-close {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
            }
        }
    }
    .candlestick-btn {
        background-color: $color-transparent;
        border: unset;
        color: $color-white;
        font-weight: 400;
        text-transform: uppercase;
        opacity: .4;
        font-size: .7rem;
        margin-right: .5rem;
    }
    .candlestick-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .candlestick-btn span {
        margin-left: .5rem;
    }
    .candlestick-btn-clear {
        background-color: $color-links;
        border-radius: 1rem;
        font-size: .8rem;
        font-weight: 600;
        color: $color-white;
        margin-left: 1rem;
        overflow: hidden;
        height: 1.7rem;
        line-height: 2;
        vertical-align: middle;
    }
    .candlestick-btn-clear:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .mat-form-field-underline {
        display: none !important;
    }
    .cryptotype-component .cryptotype-price {
        vertical-align: top;
    }
    .cryptotype-component .cryptotype-data-box-content {
        margin-top: .6rem;
    }
    .candlestick-inline {
        display: inline-block;
    }
    .candlestick-none {
        display: none;
    }
}
