.how-it-works {
    overflow-x: hidden;
    color: $color-black;
    height: 100%;
    .title {
        &__title {
            margin-top: 0.8rem;
        }
        &__text {
            max-width: 33%;
            margin: 1rem auto 3.25rem auto;
            font-family: $font-landing-1;
            font-size: 1rem;
            @include respond(phone) {
                max-width: 45%;
                font-size: 1.4rem;
            }
        }
    }
    .images {
        font-family: $font-landing-2;
        &__box {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background-color: $color-white;
            @include respond(phone) {
                position: unset;
                flex-wrap: wrap;
            }
            &-1,
            &-2,
            &-3 {
                width: 33.333333333333%;
                height: 26.625rem;
                background-repeat: no-repeat;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                line-height: 0.8;
                @include respond(phone) {
                    width: 100% !important;
                    height: 30rem;
                }
            }
            &-1 {
                background-image: url('../img/como-funciona-1.svg');
                background-position: bottom;
                padding-left: 0.5rem;
                background-size: 90%;
                @include respond(phone) {
                    padding-left: 2.5rem;
                }
            }
            &-2 {
                background-image: url('../img/como-funciona-2.svg');
                background-color: $color-positive;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                background-size: contain;
            }
            &-3 {
                background-image: url('../img/como-funciona-3.svg');
                background-position: top;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                background-size: 100%;
            }
            &-number {
                font-family: $font-landing-2;
                font-size: 9rem;
                color: $color-background-3;
                opacity: 0.4;
                &--2 {
                    color: $color-background-15;
                    -ms-flex-item-align: end;
                    align-self: flex-end;
                    margin-right: 0.5rem;
                    @include respond(phone) {
                        margin-right: 2.5rem;
                    }
                }
                &--3 {
                    -ms-flex-item-align: end;
                    align-self: flex-end;
                    @include respond(phone) {
                        margin: 1rem 2.5rem 0 0;
                    }
                }
            }
            &-text {
                span {
                    display: block;
                    margin-right: -0.8rem;
                }
                &--1,
                span,
                &--2,
                &--3 {
                    font-family: $font-landing-2;
                }
                span,
                &--2,
                &--3 {
                    font-size: 4.5rem;
                    font-weight: 500;
                }
                span,
                &--3 {
                    color: $color-positive;
                    margin-left: -0.3rem;
                }
                &--1 {
                    margin-top: 1.8rem;
                    margin-right: 0.5rem;
                    font-size: 2.25rem;
                    color: $color-font;
                    text-align: end;
                    @include respond(phone) {
                        margin-right: 2.5rem;
                    }
                }
                &--2 {
                    -ms-flex-item-align: end;
                    align-self: flex-end;
                    color: $color-background-15;
                    margin-right: 1.5rem;
                    @include respond(phone) {
                        margin-right: 2.5rem;
                        margin-bottom: 2rem;
                    }
                }
                &--3 {
                    margin-bottom: 3rem;
                    @include respond(phone) {
                        margin-left: 2.5rem;
                    }
                }
            }
        }
        &__line {
            position: absolute;
            top: 97%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 66.66666666%;
            height: 9.2rem;
            border: 1px solid $color-cool-grey;
            border-top: unset;
            z-index: -1;
            opacity: 0.6;
            @include respond(phone) {
                display: none;
            }
        }
        &__dots {
            padding: 21.8rem;
            position: absolute;
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, $color-cool-grey), color-stop(0%, transparent));
            background-image: linear-gradient(to bottom, $color-cool-grey 60%, transparent 0%);
            background-position: center;
            background-size: 3px 12px;
            background-repeat: repeat-y;
            z-index: -2;
            opacity: 0.6;
        }
        &__btn {
            position: absolute;
            bottom: -39%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            padding: 0.3rem 1.4rem;
            border-radius: 3rem;
            font-size: 2rem;
            font-weight: 500;
            z-index: 1;

            &:hover{
                color: $color-white;
                text-decoration: none;
            }
            @include respond(phone) {
                bottom: -5%;
            }
        }
        &__title {
            margin-top: 18rem;
            line-height: 1;
            font-size: 1.75rem;
            @include respond(phone) {
                margin-top: 9rem;
            }
        }
        &__value {
            font-size: 2.5rem;
            line-height: 1.2;
            span {
                color: $color-positive;
            }
        }
        &__text {
            margin-top: 0.5625rem;
            font-size: 1rem;
            font-family: $font-landing-1;
            @include respond(phone) {
                font-size: 1.3rem;
            }
        }
    }
    .info {
        margin-top: 2.5rem;
        margin-bottom: 12.5rem;
        @include respond(phone) {
            margin-bottom: 4.5rem;
        }
        &__text {
            margin: 0;
            color: $color-background-3;
            font-family: $font-landing-1;
            &--big {
                font-size: 1.375rem;
                @include respond(phone) {
                    font-size: 1.7rem
                }
            }
            &--medium {
                font-size: 1.125rem;
                @include respond(phone) {
                    font-size: 1.5rem;
                }
            }
            &--small {
                font-size: 1rem;
                @include respond(phone) {
                    font-size: 1.5rem;
                }
            }
            &--color {
                color: $color-positive;
            }
            &--1 {
                padding: 0 6rem;
            }
            &--2 {
                padding: 0 4rem;
            }
            &--3 {
                padding: 0 4rem;
            }
        }
        &__infos {
            margin-top: 3.125rem;
            @include respond(phone) {
                div {
                    margin: 1rem 0;
                }
            }
        }
        &__heading {
            &--1 {
                padding: 0 6rem;
            }
            &--2 {
                padding: 0 6rem;
            }
            &--3 {
                padding: 0 4rem;
            }
        }
        &__img {
            width: 7.5rem;
            height: 7.5rem;
        }
        &__dots {
            padding: 5.6rem;
            position: absolute;
            top: 110%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, $color-cool-grey), color-stop(0%, transparent));
            background-image: linear-gradient(to bottom, $color-cool-grey 60%, transparent 0%);
            background-position: center;
            background-size: 3px 12px;
            background-repeat: repeat-y;
            opacity: 0.6;
            @include respond(phone) {
                display: none;
            }
        }
    }
    .sign {
        &__text {
            font-family: $font-landing-1;
            &--big {
                margin-top: 1rem;
                margin-bottom: 2rem;
                font-size: 1.375rem;
                line-height: 1.3;
                @include respond(phone) {
                    font-size: 1.5rem
                }
                span {
                    color: $color-positive;
                    font-size: 1.3rem;
                }
            }
            &--medium {
                width: 80%;
                margin: 0 auto 2.875rem auto;
                font-size: 1rem;
                color: $color-border-9;
                @include respond(phone) {
                    font-size: 1.3rem;
                }
            }
            &--small {
                font-size: 0.875rem;
                margin-bottom: 2.1rem;
                color: $color-border-9;
                @include respond(phone) {
                    font-size: 1.2rem;
                }
                span {
                    font-weight: 500;
                }
            }
        }
        &__btn {
            display: table;
            margin: 0.75rem auto 6.5rem auto;

            &:hover{
                text-decoration: none;
            }
        }
    }
    .btn__btn--fill:hover{
        text-decoration: none;
        color: $color-white;
    }
    /* width */
    &::-webkit-scrollbar {
        width: .3rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-background-4;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-positive;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken($color-positive, 20%);
    }
}
