.jobs {
    overflow-x: hidden;
    height: 100%;
    &__row {
        min-height: calc(100vh - 10.31rem);
    }
    &__banner {
        max-height: 14.25rem;
        margin-bottom: 3.375rem;
        margin-top: 7rem;
        background-color: $color-white;
        @include respond(phone) {
            max-height: 100%;
            text-align: center;
            margin: 0;
            background-color: $color-background-15;
        }
    }
    &__left {
        display: inline-block;
        padding-left: 12.5rem;
        @include respond(phone) {
            padding: 0 0 0 0;
        }
        &>* {
            margin: 0;
            font-weight: normal;
            font-family: $font-landing-2;
            text-transform: unset;
        }
        &-title {
            font-size: 4rem;
            line-height: 0.5;
            color: $color-background-3;
        }
        &-subtitle {
            font-size: 5rem;
            font-style: italic;
            color: $color-positive;
        }
    }
    &__right {
        display: inline-block;
        max-width: 43.25rem;
        max-height: 21.25rem;
        margin-top: -3rem;
        margin-left: 2.56rem;
        padding: 7.7rem 5.4rem 7rem 5.625rem;
        background-color: $color-positive;
        box-shadow: 0 0 10px 0 $color-background-7;
        font-family: $font-landing-2;
        line-height: 1;
        font-size: 3.125rem;
        font-style: italic;
        text-align: center;
        color: $color-white;
        @include respond(phone) {
            padding: 4rem;
            margin: 0 0 0 0;
        }
    }
    &__text {
        font-family: $font-landing-1;
        font-size: 1.125rem;
        line-height: 0.5;
        color: $color-background-9;
    }
    &__social {
        margin-top: 2rem;
        &-icon {
            &:not(:last-of-type) {
                margin-right: 0.5625rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__vacancy {
        margin: 3.65rem auto 5.375rem auto;
        button:not(:first-child) {
            margin-left: 2.875rem;
            @include respond(phone) {
                margin: 0 0 0 0;
            }
        }
        &-filters {
            margin-bottom: 2.3rem;
            @include respond(phone) {
                .btn__btn--fill {
                    width: 100%;
                }
            }
        }
        &-btn {
            display: inline-block;
            background-color: transparent;
            border: 2px solid transparent;
            color: $color-background-3;
            @include respond(phone) {
                width: 100% !important;
            }
            &:hover {
                background-color: $color-positive;
                color: $color-white;
                border: 1px solid $color-positive;
            }
        }
        &-box {
            max-width: 32% !important;
            margin-bottom: 1.25rem;
            padding: 1.2rem;
            background-color: $color-white;
            box-shadow: 0 0 10px 0 $color-background-7;
            @include respond(phone) {
                max-width: 100% !important;
                text-align: center;
            }
            &>* {
                font-weight: normal;
            }
            &:not(:nth-child(3n)) {
                margin-right: 1.25rem;
            }
        }
        &-area {
            font-family: $font-landing-1;
            font-size: 1rem;
            color: $color-background-3;
        }
        &-title {
            font-family: $font-landing-2;
            font-size: 1.75rem;
            color: $color-positive;
        }
        &-city {
            margin-bottom: 2rem;
            font-family: $font-landing-1;
            font-size: 0.875rem;
            color: $color-background-3;
        }
    }
    /* width */
    &::-webkit-scrollbar {
        width: .3rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-background-4;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-positive;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken($color-positive, 20%);
    }
}
