.operations-side {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: calc(100vh - 8rem);
    margin: 0 auto;
    
    @include respond(phone) {
        height: 100%;
        width: 100%;
    }
    #tradebook, #tradebook-head {
        display: -webkit-box;
        display: -ms-flexbox;
        box-pack: justify;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 0.56rem;
        text-align: right;
        font-weight: 500;
        font-family: $font-secondary;
        margin-left: .25rem;
        // margin-top: .5rem;

        @include respond(phone) {
            font-size: 1.47rem;
            text-align: center;

            tbody{
                width: 100vw;
            }
            tr{
                width: 100vw;
            }
            td:nth-child(1){
                width: 30vw;
                text-align: right;
            }
            td:nth-child(2){
                width: 32vw;
                text-align: right;
            }
            td:nth-child(3){
                width: 8vw;
                
                img{
                    height: 1.6rem;
                    width: 1.6rem;
                }
            }
            td:nth-child(4){
                width: 30vw;
                text-align: left;
            }
        }
    }
    #tradebook-head {
        margin-top: .5rem;
    }
    .trade-history-title {
        font-size: 1rem;
        text-align: center;
        margin-top: .8rem;
        font-weight: 600;

        @include respond(phone) { 
            font-size: 1.6rem;
        }
    }
    .trade-history-table, .trade-history-head {
        width: inherit;
    }
    .trade-history-main {
        overflow-y: scroll;
        height: stretch;
    }
    .column-size {
        color: $color-white;
        min-width: 33%;
        padding-right: .18rem;
    }
    .column-price {
        color: $color-positive;
        min-width: 33%;
    }
    .trade-history-arrow {
        display: inline-block;
        width: .8rem;
        vertical-align: middle;
        margin-left: -.2rem;
        margin-top: -0.1rem;
    }
    .trade-history-table-price-up {
        color: $color-positive;
        min-width: 33%;
    }
    .trade-history-table-price-down {
        color: $color-negative;
        min-width: 37%;
    }
    .column-time {
        color: $color-cool-grey;
    }
    .trade-history-head-size {
        padding-left: 0.7rem;
    }
    .trade-history-head-price {
        padding-left: 2.5em;
        
        @include respond(phone) {
            padding-left: 0;
        }
    }
    .trade-history-head-arrow {
        padding-left: 1.4rem;
    }
    .trade-history-head-time {
        padding-left: 2.2rem;

        @include respond(phone) {
            padding-left: 0;
        }
    }
}
