.sign-up {
    overflow-x: hidden;
    height: 100%;
    background-color: $color-background-3;
    &__left {
        background-color: $color-white;
        min-height: 100vh !important;
        @include respond(phone) {
            order: 1;
            min-height: 50vh !important;
        }
    }
    &__right {
        background-color: $color-background-15;
    }
    &__logo {
        width: 12rem;
        height: auto;
        margin: 3rem 0 0.625rem 3.2rem;
        cursor: pointer;
        &:focus {
            outline: unset;
        }
        @include respond(phone) {
            display: none;
        }
        &-img {
            width: 100%;
            height: 100%;
            &:focus {
                outline: unset;
            }
        }
    }
    &__img {
        width: 28.875rem;
        height: 38.25rem;
        margin: 0 auto;
        padding-bottom: 1rem;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__question {
        padding: 1.8rem 2.5rem;
        text-align: end;
        font-family: $font-landing-1;
        color: $color-background-3;
        @include respond(phone) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .sign-up__logo-mobile {
            display: none;
            @include respond(phone) {
                width: 50%;
                display: block;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        br {
            display: none;
            @include respond(phone) {
                display: inline;
            }
        }
        span {
            color: $color-positive;
            cursor: pointer;
            &:focus {
                outline: unset;
            }
        }
    }
    &__box {
        padding: 5rem 0;
        @include respond(phone) {
            padding: 1rem 0 4rem 0;
        }
    }
    &__step {
        margin-top: 1.8rem;
        margin-bottom: 0.625rem;
        font-size: 1rem;
        font-family: $font-landing-1;
        color: $color-background-3;
        span {
            color: $color-positive;
        }
        &-margin {
            margin-top: 9rem;
        }
    }
    &__bar--fill,
    &__bar--blank {
        display: inline-block;
        margin-bottom: 2.3rem;
        div {
            display: inline-block;
            width: 3.7rem;
            height: 0.375rem;
            @include respond(tab-land) {
                width: 2.5rem;
            }
        }
    }
    &__bar--fill div {
        background-color: $color-positive;
        &:not(:first-of-type) {
            margin-left: 0.5rem;
        }
    }
    &__bar--blank div {
        background-color: $color-white;
        &:not(:last-of-type) {
            margin-right: 0.5rem;
        }
    }
    &__title {
        max-width: 80%;
        margin-top: 2.625rem;
        margin-bottom: 0.81rem;
        line-height: 1;
        @include respond(phone) {
            max-width: 100%;
            text-align: center;
        }
        &--success {
            padding-right: 10rem;
            @include respond(phone) {
                padding-right: 0;
                text-align: center;
            }
        }
    }
    &__text {
        max-width: 72%;
        margin-bottom: 1.31rem;
        color: $color-background-3;
        font-size: 1.125rem;
        font-family: $font-landing-1;
        @include respond(phone) {
            max-width: 100%;
            text-align: center;
        }
        &--medium {
            padding-right: 1rem;
            @include respond(phone) {
                padding-right: 0;
            }
        }
        &--small {
            margin: 1rem 0 2rem 0;
            padding-right: 3rem;
            font-size: 1rem;
            @include respond(phone) {
                padding-right: 0;
            }
        }
        &--btn {
            @include respond(phone) {
                width: 100%;
            }
        }
    }
    &__password {
        &-text {
            margin-bottom: 0.5rem;
            font-family: $font-landing-1;
            font-size: 0.875rem;
            color: $color-border-9;
        }
        &-str {
            margin-bottom: 1rem;
            &-text {
                font-size: 0.75rem;
                color: $color-border-9;
            }
            &-bar {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            &-bars {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                list-style: none;
                margin: 0;
                margin-left: .95rem;
                padding: 0;
            }
            &-point:last {
                margin: 0 !important;
            }
            &-point {
                background: $color-background-11;
                height: 1rem;
                margin-right: 3px;
                width: 2.1rem;
            }
        }
        &-lines::after {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            margin: 1.4375rem 0 1.875rem 0;
            background-image: linear-gradient(to left, $color-cool-grey 60%, transparent 0%);
            background-position: center;
            background-size: 13px 1px;
            background-repeat: repeat-x;
        }
    }
    &__terms {
        margin-bottom: 2rem;
        font-family: 0.875rem;
        color: $color-font;
        &-text {
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
        .mat-checkbox-label {
            font-family: $font-landing-1;
        }
        .mat-checkbox-background {
            background-color: transparent !important;
        }
        .mat-checkbox-checkmark {
            fill: $color-positive !important;
        }
        .mat-checkbox-checkmark-path {
            stroke: $color-positive !important;
        }
        .mat-checkbox-inner-container {
            margin-right: 0.5rem;
        }
    }
    /* PRE SIGN UP */
    &__left {
        &-text {
            position: relative;
            width: 19rem;
            padding: 2.875rem 0 0 3.875rem;
            font-family: $font-landing-2;
            color: $color-background-3;
            line-height: 1.2;
            z-index: 2;
            &--big {
                font-size: 2.5rem;
                line-height: 1.2;
            }
            &--medium {
                font-size: 1.75rem;
                span {
                    display: block;
                    margin-top: 0.5rem;
                    color: $color-border-9;
                }
            }
            &--list {
                max-width: 11.125rem;
                line-height: 1;
            }
            &--success {
                max-width: 10.5rem;
                line-height: 1;
            }
        }
        &-img {
            position: absolute;
            bottom: 3%;
            left: 0;
            z-index: 1;
            img {
                height: 100%;
                width: 100%;
                margin: 0 auto;
                display: block;
            }
        }
    }
    &__voucher {
        &-text {
            margin-top: -1.15rem;
            margin-bottom: 1.25rem;
            font-family: $font-landing-1;
            color: $color-background-3;
            font-size: 0.875rem;
            span {
                color: $color-positive;
                cursor: pointer;
                &:focus {
                    outline: unset;
                }
            }
        }
    }
    &__pre {
        &-title {
            max-width: 17.75rem;
        }
        &-text {
            font-size: 1rem;
            max-width: 23.5rem;
            &--medium {
                font-size: 1.125rem;
            }
        }
        &-btn {
            margin-top: 1.4rem;
            margin-bottom: 11rem;
        }
    }
    /* width */
    &::-webkit-scrollbar {
        width: .3rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-background-4;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-positive;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken($color-positive, 20%);
    }
}
