.trading-component {
    .withdrawdeposit-row {
        height: 52%;
    }
    .scroll {
        overflow-y: auto;
        padding-right: 0.1rem;
        height: 70%;
    }
    .mobile {
        background-color: $color-background;
        @include respond(phone) {
            height: calc(100vh - 4.6rem);
            overflow: hidden;
        }
    }
    .ticker-visible {
        display: inline-block;
    }
    .ticker-hide {
        display: none;
    }
    .candlechart-mobile {
        display: none;
        @include respond(phone) {
            background-color: $color-background-14;
            display: inline;
        }
    }
    .bookGraf {
        position: absolute;
        right: 2.6rem;
        top: 1.4rem;
        border: none;
        background-color: $color-background;
        cursor: pointer;
        z-index: 1;
    }
    .book-graf-visible {
        top: 0rem;
        height: calc(100vh - 18.5rem);
        transition: .7s;
    }
    .book-graf-hide {
        top: -100%;
        height: 0rem;
        transition: .7s;
    }
    .book-tab-mobile {
        display: inline;
        padding: 0;
        vertical-align: middle;
        background-color: $color-transparent;
        border: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-links;
        
        @include respond(phone) {
            margin: 1rem;
        }
    }
    .book-tab-first-icon {
        display: inline-block;
        width: 3.1rem;
        margin-left: -1rem;
        opacity: .2;
    }
    .book-tab-second-icon {
        width: 1.25rem;
        display: inline-block;
        opacity: .2;
        @include respond(phone) {
            width: 1.7rem;
            opacity: .7;
            margin-left: .8rem;
        }
    }
    .book-tab {
        display: inline-block;
        font-size: .8rem;
        color: $color-font-8;
        cursor: pointer;
        height: 4rem;
        max-width: 40%;
    }
    .book-tab:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .tab-btn-separator {
        display: inline-block;
        content: '';
        height: 1rem;
        width: .06rem;
        background-color: $color-font-8;
        vertical-align: sub;
    }
    .book-active-tab {
        color: $color-links;
        font-weight: 600;
        font-size: .85rem !important;
    }
    .book-consolidate {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 0.4rem;
        background-color: $color-background-6;
        color: $color-cool-grey;
        text-align: center;
        text-transform: uppercase;
        .mat-checkbox-layout .mat-checkbox-label {
            line-height: .9rem;
            font-size: .7rem;
        }
        .mat-checkbox-inner-container {
            height: .8rem;
            width: .8rem;
        }
    }
    .trading-depthchart {
        background-color: $color-background-14;
    }
    .top-content-full {
        height: calc(93vh - 5.5rem);
        overflow: hidden;
        -webkit-transition: height .5s;
        transition: height .5s;
        @include respond(phone) {
            height: 100%;
        }
    }
    .top-content-half {
        height: calc(50vh - 4.68rem);
        overflow: hidden;
        -webkit-transition: height .5s;
        transition: height .5s;
        @include respond(phone) {
            height: 100%;
        }
    }
    .bottom-content-row {
        background-color: $color-background-10;
        position: relative;
        -webkit-box-shadow: 0px -2px 5px $color-border-2;
        box-shadow: 0px -2px 5px $color-border-2;
    }
    .bottom-content {
        min-height: calc(50vh);
        width: 100%;
    }
    .bottom-content-collapsed {
        min-height: calc(7vh - 5.5rem);
        width: 100%;
    }
    .collapse-bottom-btn {
        position: absolute;
        top: .2%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: $color-border-8;
        color: $color-white;
        font-size: 1rem;
        padding: 0rem 2rem;
        border: .06rem solid $color-border-8;
        z-index: 2;
        cursor: pointer;
    }
    .collapse-bottom-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .collapse-bottom-btn img {
        height: 1.25rem;
        width: auto;
    }
}
