<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <div class="sign-up__step sign-up__step-margin">
            <span>03.</span> {{ 'AddressData' | translate }}
        </div>
        <div class="sign-up__bar--fill">
            <div *ngFor="let fill of fills"></div>
        </div>
        <div class="sign-up__bar--blank">
            <div *ngFor="let blank of blanks"></div>
        </div>
        <form class="sign-up__form" [formGroup]="step6">
            <div class="row">
                <div class="col-xl-7 col-lg-9 col-12">
                    <label class="sign-up__form-label" for="address">{{ 'address' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="address" id="address" formControlName="address" [(ngModel)]="address"
                            (keyup.enter)="keytab($event)" placeholder="{{ 'streetInitials' | translate }}">
                        <span *ngIf="step6.get('address').touched && step6.get('address').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step6.get('address').touched && !step6.get('address').valid" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step6.get('address').touched && !step6.get('address').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidAddress' | translate }}</i>
                    </span>
                </div>
                <div class="col-lg-3 col-12">
                    <label class="sign-up__form-label" for="number">{{ 'Number' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="number" name="number" id="number" formControlName="number" [(ngModel)]="number"
                            (keyup.enter)="keytab($event)" min="1" placeholder="{{ 'Number' | translate }}">
                        <span *ngIf="step6.get('number').touched && step6.get('number').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step6.get('number').touched && !step6.get('number').valid" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step6.get('number').touched && !step6.get('number').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidNumber' | translate }}</i>
                    </span>
                </div>
                <div class="col-lg-3 col-12 mt-3">
                    <label class="sign-up__form-label" for="complement">{{ 'Complement' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="complement" id="complement" formControlName="complement" [(ngModel)]="complement"
                            (keyup.enter)="keytab($event)" placeholder="{{ 'apcon' | translate }}">
                        <span *ngIf="step6.get('complement').touched && step6.get('complement').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step6.get('complement').touched && !step6.get('complement').valid" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step6.get('complement').touched && !step6.get('complement').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidComplement' | translate }}</i>
                    </span>
                </div>
                <div class="col-lg-4 col-12 mt-3">
                    <label class="sign-up__form-label" for="cep">{{ 'zipCode' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="cep" id="cep" formControlName="cep" [(ngModel)]="cep" (keyup.enter)="keytab($event)"
                            placeholder="{{ 'zipCode' | translate }}" maxlength="9" (input)="formatZipCode()">
                        <span *ngIf="step6.get('cep').touched && step6.get('cep').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step6.get('cep').touched && !step6.get('cep').valid" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step6.get('cep').touched && !step6.get('cep').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidZipCode' | translate }}</i>
                    </span>
                </div>
                <div class="col-xl-4 col-lg-5 col-12 mt-3">
                    <label class="sign-up__form-label" for="neightborhood">{{ 'Neightborhood' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="neightborhood" id="neightborhood" formControlName="neightborhood" [(ngModel)]="neightborhood"
                            (keyup.enter)="keytab($event)" placeholder="{{ 'Neightborhood' | translate }}">
                        <span *ngIf="step6.get('neightborhood').touched && step6.get('neightborhood').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step6.get('neightborhood').touched && !step6.get('neightborhood').valid" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step6.get('neightborhood').touched && !step6.get('neightborhood').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidNeightborhood' | translate }}</i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 text-center">
        <button class="btn__btn btn__btn--outline btn__btn--outline-disabled" routerLink="/novo-cadastro/passo-5">
            {{ 'Previous' | translate }}
        </button>
        <button id="btn_next06" [disabled]="!step6.get('address').valid || !step6.get('number').valid || !step6.get('complement').valid || !step6.get('cep').valid || !step6.get('neightborhood').valid"
            class="btn__btn btn__btn--outline" (click)="createSignUp()">
            {{ 'Next' | translate }}
        </button>
    </div>
</div>
