button {
    font-family: $font-default;
    cursor: pointer;
    outline-color: transparent !important;
}

.btn {
    font-family: $font-default;
    cursor: pointer;

    &__btn {
        border: unset;

        &--fill {
            padding: 0.2rem 1rem;
            background-color: $color-positive;
            border: 2px solid $color-positive;
            border-radius: 2rem;
            font-family: $font-landing-1;
            color: $color-white;
            font-size: 1.1rem;

            @include respond(phone) {
                font-size: 1.3rem;
            }

            &:hover {
                color: $color-white;
                background-color: darken($color-positive, 20%);
                border-color: darken($color-positive, 20%);
                -webkit-transition: all .2s;
                transition: all .2s;
            }
        }

        &--outline {
            padding: 0.2rem 1rem;
            background-color: transparent;
            font-family: $font-landing-1;
            font-size: 0.875rem;
            color: $color-positive;
            border: 2px solid $color-positive;
            border-radius: 2rem;

            @include respond(phone) {
                font-size: 1.2rem;
            }

            &:hover {
                background-color: $color-positive;
                color: $color-white;
                -webkit-transition: all .2s;
                transition: all .2s;
            }

            &-disabled {
                margin-right: 0.625rem;
                color: $color-font;
                border: 2px solid $color-font;

                &:hover {
                    background-color: darken($color-font, 10%);
                    border-color: $color-font;
                    color: $color-white;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                }
            }

            &-medium {
                margin-left: 0.625rem;
                font-size: 1.1rem;
            }
        }

        &--large {
            border: 2px solid $color-positive;
            color: $color-positive;
            background-color: transparent;
            border-radius: 5rem;
            padding: 0.2rem 2rem;
            font-family: $font-landing-1;
            font-size: 2rem;
            font-weight: 700;

            &:hover {
                background-color: $color-white;
                -webkit-transition: all .2s;
                transition: all .2s;
            }
        }

        &--white {
            padding: 0.5rem 1rem;
            background-color: $color-white;
            border-radius: 2rem;
            font-family: $font-landing-1;
            font-size: 0.875rem;
            color: $color-positive;

            @include respond(phone) {
                font-size: 1.2rem;
            }

            &:hover {
                color: $color-positive;
                background-color: darken($color-white, 5%);
                -webkit-transition: all .2s;
                transition: all .2s;
            }
        }

        &:active {
            -webkit-box-shadow: unset;
            box-shadow: unset;
            outline: unset;
        }

        &:hover {
            text-decoration: unset;
        }

        &--try {
            padding: 0.5rem 2rem;
        }

        &--try:hover{
            color: $color-positive;
        }

        &--iwant {
            border: 0;
        }
    }
}
