// LANDING PAGE
.landing {
    &__navbar {
        &-dropdown {
            background-color: transparent;
            color: $color-black;
            margin-right: 2.1rem;
            &:hover {
                color: $color-positive;
                -webkit-transition: all .2s;
                transition: all .2s;
            }
            &--menu {
                min-width: 0 !important;
                border-radius: 1rem !important;
                border-color: transparent !important;
                -webkit-transform: translateX(-25%);
                transform: translateX(-25%);
                padding: 0 !important;
                margin-top: 0.5rem !important;
                text-align: center !important;
                &::before {
                    content: '';
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    -webkit-clip-path: polygon(50% 0%, 0 50%, 100% 50%);
                    clip-path: polygon(50% 0%, 0 50%, 100% 50%);
                    position: absolute;
                    top: -0.5rem;
                    left: 50%;
                    background-color: white;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            }
            &--item {
                padding: 0.5rem 1.5rem !important;
                &:hover {
                    color: $color-white !important;
                    background-color: $color-positive !important;
                    -webkit-transition: color, background-color .2s;
                    transition: color, background-color .2s;
                    &:first-of-type {
                        border-top-left-radius: 1rem;
                        border-top-right-radius: 1rem;
                    }
                    &:last-of-type {
                        border-bottom-left-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                    }
                }
            }
        }
    }
}
