.filter {
    .coin-select::ng-deep.mat-input-underline.mat-form-field-underline,
    .coin-select::ng-deep.mat-input-ripple.mat-form-field-ripple {
        background-color: $color-transparent;
    }
    .mat-form-field-underline {
        display: none;
    }
    .coin {
        margin-top: 1.2rem;
        color: $color-font-8;
        font-size: .8rem;
        font-weight: 400;
    }
    .filter-top {
        padding-top: .3rem !important;
    }
    .orderFilter {
        width: 4rem !important;
    }
}
