<div class="ticker-component">
    <div class="row ticker">
        <select-crypto class="hide-mobile"></select-crypto>
        <crypto-type></crypto-type>
        <!-- LOGOUT -->
        <div class="col text-right hide-mobile">
            <button *ngIf="loggedIn" class="ticker-logout-btn" title="{{ 'Log Out' | translate }}" (click)="logout()">
                <img src="./assets/img/icon_Logout.svg" />
            </button>
        </div>
        <!-- BORDER BOTTOM -->
        <div class="grad hide-mobile"></div>
    </div>
</div>
