<div class="headercomponent">
    <header *ngIf="sidebarMode==='full'" class="row header">
        <div class="col-md-2 col-12 header-logo">
            <div class="row no-gutters">
                <div class="col-lg-12 col-md-10 col-12">
                    <button class="menu-mobile" (click)="toggleMenuMobile()">
                        <img src="./assets/img/icon-list.svg" />
                    </button>
                    <img routerLink="/" class="header-logo-img" src="../../../assets/img/abakate-logo-header.png" alt="{{brokerName}} Logo">
                    <select-crypto class="select-crypto"></select-crypto>
                    <div class="grad"></div>
                </div>
                <button class="sidecollapse hide-medium-desk" (click)="toggleCollapseSidebar()">
                    <img src="./assets/img/icon_chevrons-left.png">
                </button>
            </div>
        </div>
        <div class="col-md-10 col-12 ticker-header">
            <app-ticker></app-ticker>
        </div>
    </header>
    <header *ngIf="sidebarMode==='collapse'" class="row header">
        <div class="col-xs-05 col-md-05 headernarrow">
            <h2 class="h2header"></h2>
        </div>
        <div class="col-xs-115 col-md-115 headerbuttonfull">
            <button class="buttonfull" (click)="toggleCollapseSidebar()">
                <img src="./assets/img/icon_chevrons-right.png">
            </button>
            <app-ticker></app-ticker>
        </div>
    </header>
</div>
