<div class="home-compenent">
    <div class="container-fluid home-compenent-fluid">
        <!-- HEADER -->
        <app-header (changeToggle)="toggleSidebar()" [sidebarMode]="sidebarMode" (menuChange)="onMenuMobileEvent($event)"></app-header>
        <!-- BODY -->
        <div class="row body-row">
            <!-- SIDEBAR -->
            <div class="col-lg-{{sidebarMode=='full'?'2':'05'}} col-md-{{sidebarMode=='full'?'2':'1'}} side-menu">
                <div class="row">
                    <div class="col-12 wallet-sidemenu">
                        <app-sidemenu [sidebarMode]="sidebarMode"></app-sidemenu>
                    </div>
                </div>
                <app-footer [sidebarMode]="sidebarMode" class="hide-mobile"></app-footer>
            </div>
            <!-- END SIDEBAR -->
            <!-- SIDEBAR MOBILE-->
            <div class="col-lg-{{sidebarMode=='full'?'2':'05'}} col-md-{{sidebarMode=='full'?'2':'1'}} side-menu-mobile" [ngStyle]="{'left':(menuMobile == true )?'0rem':'-100%', transition:(menuMobile == true )?'1s':'1s'}">
                <div class="row">
                    <div class="col-12 wallet-sidemenu">
                        <app-sidemenu [sidebarMode]="sidebarMode"></app-sidemenu>
                    </div>
                </div>
                <app-footer [sidebarMode]="sidebarMode" class="hide-mobile"></app-footer>
            </div>
            <!-- END SIDEBAR MOBILE -->
            <!-- WALLET DIALOG -->
            <div *ngIf="sidebarMode!='full'" class="popProfile">
                <app-wallet></app-wallet>
            </div>
            <!-- END WALLET DIALOG -->
            <!-- ORDER ENTRY DIALOG -->
            <!-- END WITH DEP DIALOG -->
            <div *ngIf="sidebarMode === 'full'; else notFull" class="col-xl col-md-10 col-12 sidebar-mode-outlet tablet-content">
                <router-outlet></router-outlet>
                <div class="hide-tablet hide-desktop">
                    <app-footer [sidebarMode]="sidebarMode"></app-footer>
                </div>
            </div>
            <ng-template #notFull>
                <div class="col sidebar-mode-outlet">
                    <router-outlet></router-outlet>
                </div>
            </ng-template>
            <div class="menu-footer visible-mobile hide-desktop hide-big">
                <button class="button-footer">
                    <img src="./assets/img/icon_BuySell.svg"> {{ 'buy' | translate | uppercase }}
                    <br> {{ 'and' | translate | uppercase }} {{ 'sell' | translate | uppercase }}
                </button>
                <button class="button-footer">
                    <img src="./assets/img/icon_withdraw.svg"> {{ 'deposit' | translate | uppercase }}
                    <br> {{ 'and' | translate | uppercase }} {{ 'withdraw' | translate | uppercase }}
                </button>
                <button class="button-footer" routerLink="/home/trade" routerLinkActive="currentPage" title="{{ 'Home' | translate }}">
                    <img src="./assets/img/icon_Transactions.svg"> {{ 'OrdersMade' | translate | uppercase }}
                </button>
                <button class="button-footer" routerLink="/home/extrato" routerLinkActive="currentPage" title="{{ 'Statements' | translate }}">
                    <img src="./assets/img/icon_AccountBalance.svg"> {{ 'AccountHistory' | translate | uppercase }}
                </button>
            </div>
        </div>
    </div>
</div>
