<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <div class="sign-up__step sign-up__step-margin">
            <span>02.</span> {{ 'ContactData' | translate }}
        </div>
        <div class="sign-up__bar--fill">
            <div *ngFor="let fill of fills"></div>
        </div>
        <div class="sign-up__bar--blank">
            <div *ngFor="let blank of blanks"></div>
        </div>
        <form class="sign-up__form" [formGroup]="step4">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-12">
                    <label class="sign-up__form-label" for="phone">{{ 'Phone' | translate | uppercase }} ({{ 'OnlyNumbers' | translate }})</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="phone" id="phone" formControlName="phone" [(ngModel)]="phone" (keyup.enter)="keytab($event)"
                            maxlength="14" (input)="formatCellPhone()" placeholder="{{ 'Number' | translate }}">
                        <span *ngIf="step4.get('phone').touched && step4.get('phone').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step4.get('phone').touched && !step4.get('phone').valid" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step4.get('phone').touched && !step4.get('phone').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidPhone' | translate }}</i>
                    </span>
                </div>
                <div class="col-xl-5 col-lg-6 col-12">
                    <label class="sign-up__form-label" for="cel">{{ 'CellPhone' | translate | uppercase }} ({{ 'OnlyNumbers' | translate }})</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="cel" id="cel" formControlName="cel" [(ngModel)]="cel" maxlength="15"
                            (input)="formatCellPhone()" placeholder="{{ 'Number' | translate }}" (keyup.enter)="keytab($event)">
                        <span *ngIf="step4.get('cel').touched && step4.get('cel').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="step4.get('cel').touched && !step4.get('cel').valid" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="step4.get('cel').touched && !step4.get('cel').valid" class="sign-up__form-invalid">
                        <i>{{ 'invalidCellPhone' | translate }}</i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 text-center">
        <button class="btn__btn btn__btn--outline btn__btn--outline-disabled" routerLink="/novo-cadastro/passo-3">
            {{ 'Previous' | translate }}
        </button>
        <button id="btn_next04" [disabled]="!step4.get('phone').valid" class="btn__btn btn__btn--outline" (click)="createSignUp()"
            routerLink="/novo-cadastro/passo-5">
            {{ 'Next' | translate }}
        </button>
    </div>
</div>
