<div class="about">
    <div class="row no-gutters">
        <div class="col-lg-5 col-md-4 col-12 about__navbar-left"></div>
        <div class="col-lg-7 col-md-8 col-12 about__navbar-right"></div>
        <app-navbar class="about__navbar"></app-navbar>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-5 col-md-4 col-12 about__left">
            <h2 class="about__left-title">
                {{ 'WhoIs' | translate }}
            </h2>
            <h1 class="about__left-subtitle">
                Abakate?
            </h1>
        </div>
        <div class="col-lg-7 col-md-8 col-12 about__right">
            <h3 class="about__right-title">
                {{ 'Innovative' | translate }}
            </h3>
            <div class="about__right-box">
                {{ 'AboutText' | translate }}.
            </div>
            <h3 class="about__right-subtitle">
                {{ 'Uncomplicated' | translate }}
            </h3>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
